/*=============================================================================
                           PRESET AREA CSS
=============================================================================*/
body, p, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
body {
 background-color:#cfeae1;
 background-image:none;
 background-position:0 0;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-size:auto;
 font-family:Arial, Helvetica, sans-serif;
 color:#5c5c5c;
 font-size:12px;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}
h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
color:#3c3c3c;
}
h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#3c3c3c;
}
h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#3c3c3c;
}
h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#3c3c3c;
}
h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#3c3c3c;
}
h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#3c3c3c;
}
a {
 text-decoration:underline;
 color:#348b6e;
}
a:hover {
text-decoration:none;
color:#348b6e;
}
a img {
    border: 0 solid;
}
p {
    line-height: 1.9;
}
ul, ol {
    padding: 0 0 0 20px;
    list-style: disc;
}
ol {
    list-style: decimal;
    padding: 0 0 0 23px;
}
li {
    padding: 0 0 10px;
}
/*=============================================================================
                           TABLE AREA
=============================================================================*/
table {
    border-collapse: collapse;
    border: 1px solid #e3e3e3;
}
th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#e8f5f1;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#348b6e;
 padding:7px;
}
td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#F3FAF8;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#5c5c5c;
 padding:6px;
}
hr {
    border-top: 1px solid #DDF5ED
}
/*=============================================================================
                     HEADER AND SITENAME CAPTION AREA
=============================================================================*/
.headerContainer {
    padding: 20px 0 25px;
    text-align: center;
}
.logoarea {
    padding-bottom: 15px;
}
.headerContainer h1 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#2c3633;
    padding-bottom: 5px;
}
.headerContainer h5 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#2c3633;
}
/*=============================================================================
                                 MENU AREA
=============================================================================*/
.menuCont {
    width: 95%;
    margin: 0 auto;
    padding: 0 0 15px;
}
#navigation ul {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#navigation li {
 background-color:#d8ece5;
 background-image:none;
 background-repeat:repeat;
 background-position:left top;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 3px #a8cfc2;
    -webkit-box-shadow: 0 0 3px #a8cfc2;
    -moz-box-shadow: 0 0 3px #a8cfc2;
    -o-box-shadow: 0 0 3px #a8cfc2;
    margin: 0;
    margin-bottom: 8px;
    display: block;
    overflow: hidden;
    padding: 0;
}
#navigation li a {
    text-decoration: none;
 font-family:Arial, Helvetica, sans-serif;
 color:#4a6c61;
 font-size:12px;
    display: block;
    line-height: 2;
    float: left;
    text-decoration: none;
    curser: pointer;
    position: relative;
    width: 100%;
}
#navigation li.selected {
 background-color:#f3faf8;
 background-image:none;
 background-repeat:repeat-x;
 background-position:left top;
}
#navigation li.selected a {
 color:#8a0505;
}
#navigation li a span {
    word-wrap: break-word;
    float: left;
    padding: 5px 25px 5px 10px;
    width: 91%
}
#navigation li a em {
    height: 7px;
    margin-top: 15px;
    width: 5px;
    position: absolute;
    right: 10px;
    top: 0;
}
#navigation li.navArrow a em {
    background: url(images/navArrow.png) no-repeat center center;
}
#navigation li.selected.navArrow a em {
    background: url(images/navArrowHover.png) no-repeat center center;
}
/*=============================================================================
                               SUBMENU AREA
=============================================================================*/
.submenu {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
.submenu ul {
    width: 95%;
    margin: 0 auto;
    padding: 5px 0;
    list-style: none;
}
.submenu li {
 background-color:#D8ECE5;
background-image:none;
background-position:top left;
background-repeat:repeat;
 border-width:0px;
border-style:solid;
border-color:#000000;
 border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
-o-border-radius:4px;
    box-shadow: 0 0 3px #a8cfc2;
    -webkit-box-shadow: 0 0 3px #a8cfc2;
    -moz-box-shadow: 0 0 3px #a8cfc2;
    -o-box-shadow: 0 0 3px #a8cfc2;
    margin-bottom: 8px;
    padding: 0px;
    overflow: hidden;
}
.submenu li a {
    text-decoration: none;
 color:#4a6c61;
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
    display: block;
    line-height: 2;
    float: left;
    text-decoration: none;
    curser: pointer;
    position: relative;
    width: 100%;
}
.submenu li.selected {
 background-color:#f3faf8;
background-image:none;
background-position:top left;
background-repeat:repeat;
}
.submenu li.selected a {
 color:#8a0505;
}
.submenu li a span {
    word-wrap: break-word;
    float: left;
    padding: 5px 25px 5px 10px;
    width: 91%
}
.submenu li a em {
    height: 7px;
    margin-top: 15px;
    width: 5px;
    position: absolute;
    right: 10px;
    top: 0;
}
.submenu li.navArrow a em {
    background: url(images/navArrow.png) no-repeat center center;
}
.submenu li.selected.navArrow a em {
    background: url(images/navArrowHover.png) no-repeat center center;
}
/*=============================================================================
                               CONTENT AREA
=============================================================================*/
.container {
 background-color:#f3faf8;
 background-image:none;
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 5px 0px #a8cfc2, 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 5px 0px #a8cfc2, 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 5px 0px #a8cfc2, 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 5px 0px #a8cfc2, 0px 0px 0px 0px transparent inset;
 border-width: 2px;
 border-style:solid;
 border-color:#ffffff;
 border-radius: 5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 -o-border-radius:5px;
    margin-top: 10px;
    margin: 0 8px;
    padding: 15px;
}
/*=============================================================================
                               BANNER AREA CSS
=============================================================================*/
.bannerImage {
    margin-bottom: 10px;
}
/*=============================================================================
                               BREADCRUMB AREA CSS
=============================================================================*/
.breadcrumb {
    padding: 5px 0;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 15px;
}
.breadcrumb a {
    text-decoration: none;
}
.breadcrumb span {
    padding: 0 10px;
}
.breadcrumb p {
    word-wrap: break-word
}
.contentArea {
    min-height: 250px;
    height: auto !important;
    height: 250px;
}
/*=============================================================================
                               SIDEBAR AREA
=============================================================================*/
.sidebararea {
 background-color:#d8ece5;
 background-image:none;
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 5px 0px #A8CFC2, 0px 0px 0 0 transparent inset;
 -webkit-box-shadow: 0px 0px 5px 0px #A8CFC2, 0px 0px 0 0 transparent inset;
 -moz-box-shadow: 0px 0px 5px 0px #A8CFC2, 0px 0px 0 0 transparent inset;
 -o-box-shadow: 0px 0px 5px 0px #A8CFC2, 0px 0px 0 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 5px;
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 -o-border-radius:0;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
    margin: 15px;
    min-height: 100px;
    height: auto !important;
    height: 100px;
    padding: 10px;
}
.sidebararea h1 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:26px;
 color:#3c3c3c;
}
.sidebararea h2 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#3c3c3c;
}
.sidebararea h3 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:22px;
 color:#3c3c3c;
}
.sidebararea h4 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:20px;
 color:#3c3c3c;
}
.sidebararea h5 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#3c3c3c;
}
.sidebararea h6 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:16px;
 color:#3c3c3c;
}
.sidebararea a {
 color:#348b6e;
 text-decoration:none;
}
.sidebararea a:hover {
 text-decoration:none;
 color:#348b6e;
}
.sidebararea th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#e8f5f1;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#348b6e;
 padding:7px;
}
.sidebararea td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#F3FAF8;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#5c5c5c;
 padding:6px;
}
/*=============================================================================
                          SIDEBAR AREA HIGHLIGHT BOX
=============================================================================*/
.sidebararea .zs-highlight-box {
 background-color: #f3faf8;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0 2px 5px 0px #cae7dd, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0 2px 5px 0px #cae7dd, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0 2px 5px 0px #cae7dd, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0 2px 5px 0px #cae7dd, 0px 0px 0px 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 5px;
    min-height: 100px;
font-family:Arial, Helvetica, sans-serif;
 color:#5c5c5c;
 font-size:12px;
}
.sidebararea .zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
color:#3c3c3c;
}
.sidebararea .zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#3c3c3c;
}
.sidebararea .zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#3c3c3c;
}
.sidebararea .zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#3c3c3c;
}
.sidebararea .zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#3c3c3c;
}
.sidebararea .zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#3c3c3c;
}
.sidebararea .zs-highlight-box a {
 text-decoration:underline;
 color:#348b6e;
}
.sidebararea .zs-highlight-box a:hover {
text-decoration:none;
color:#348b6e;
}
.sidebararea .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#e8f5f1;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#348b6e;
 padding:7px;
}
.sidebararea .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#F3FAF8;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#5c5c5c;
 padding:6px;
}
/*=============================================================================
                          TEXT HIGHLIGHT CSS
=============================================================================*/
.sidebararea .zs-text-light-color {
color:#A9A9A9;
}
.sidebararea .zs-text-highlight-color {
color:#3C3C3C;
}
.sidebararea .zs-highlight-box .zs-text-light-color {
color:#A9A9A9;
}
.sidebararea .zs-highlight-box .zs-text-highlight-color {
color:#3C3C3C;
}
/*=============================================================================
                       SIDEBAR AREA TABS ACCORDION CSS
=============================================================================*/
.sidebararea .zs-tabs ul, .sidebararea .zs-highlight-box .zs-tabs ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-bottom: 3px solid #fdc555;
    display: none;
}
.sidebararea .zs-tabs ul li, .sidebararea .zs-highlight-box .zs-tabs ul li {
    float: left;
    margin: 0;
    padding: 0px;
}
.sidebararea .zs-tabs ul li div, .sidebararea .zs-highlight-box .zs-tabs ul li div {
    padding: 0 15px;
    position: relative;
    color: #616363;
    line-height: 2.8;
    cursor: pointer;
}
.sidebararea .zs-tabs ul li.selected, .sidebararea .zs-highlight-box .zs-tabs ul li.selected {
    background: #fdc555;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.sidebararea .zs-tabs ul li.selected div, .sidebararea .zs-highlight-box .zs-tabs ul li.selected div {
    color: #ffffff;
}
.sidebararea .zs-tabs-accordion-content, .sidebararea .zs-highlight-box .zs-tabs-accordion-content {
    background: #FFFFFF;
    padding: 15px;
    display: none;
    color: #5c5c5c;
    margin-bottom: 2px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.sidebararea .zs-accordion, .sidebararea .zs-highlight-box .zs-accordion {
    background: #f3faf8;
    color: #4a6c61;
    padding: 10px;
    cursor: pointer;
    display: block;
    position: relative;
    margin-bottom: 2px;
    border: 1px solid #b6e4d4;
}
.sidebararea .zs-accordion.selected, .sidebararea .zs-highlight-box .zs-accordion.selected {
    background: #ffffff;
    color: #4a6c61;
    border: 0px;
}
/*=============================================================================
                 SIDEBAR HIGHLIGHT BOX AREA TABS ACCORDION CSS
=============================================================================*/
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content {
    border: 1px solid #b6e4d4;
    padding: 10px;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h1 {
    color: #3c3c3c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h2 {
    color: #3c3c3c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h3 {
    color: #3c3c3c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h4 {
    color: #3c3c3c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h5 {
    color: #3c3c3c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #3c3c3c;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content a {
    color: #348B6E;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #348B6E;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #B9E0D2;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content th {
    background: #e8f5f1;
    border: 1px solid #D1EDE3;
    color: #348b6e;
    padding: 7px;
}
.sidebarAreaInner .zs-highlight-box .zs-tabs-accordion-content td {
    background: #F3FAF8;
    border: 1px solid #D1EDE3;
    color: #5c5c5c;
    padding: 6px;
}
.sidebarAreaInner .zs-highlight-box .zs-accordion.selected {
    border: 1px solid #b6e4d4;
}
/*=============================================================================
                               FOOTER AREA CSS
=============================================================================*/
.footerArea {
 background-color:transparent;
 background-image:none;
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0px 0px 0 0px transparent, 0px 0px 0px 0 transparent inset;
 border-width:0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    padding: 20px;
    min-height: 50px;
    height: auto !important;
    height: 50px;
 font-family: Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#5c5c5c;
}
.footerArea h1 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:24px;
 color:#3c3c3c;
}
.footerArea h2 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:22px;
 color:#3c3c3c;
}
.footerArea h3 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:20px;
 color:#3c3c3c;
}
.footerArea h4 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#3c3c3c;
}
.footerArea h5 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:16px;
 color:#3c3c3c;
}
.footerArea h6 {
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#3c3c3c;
}
.footerArea a {
 color:#348B6E;
 text-decoration:none;
}
.footerArea a:hover {
 text-decoration:none;
 color:#348B6E;
}
.footerArea th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#e8f5f1;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#348b6e;
 padding:7px;
}
.footerArea td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#F3FAF8;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#5c5c5c;
 padding:6px;
}
/*=============================================================================
                       FOOTER AREA HIGHLIGHT BOX CSS
=============================================================================*/
.footerArea .zs-highlight-box {
 background-color: #d8ece5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0 2px 5px 0 #b4dacd, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0 2px 5px 0 #b4dacd, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0 2px 5px 0 #b4dacd, 0px 0px 0px 0 #transparent inset;
 -o-box-shadow: 0 2px 5px 0 #b4dacd, 0px 0px 0px 0 transparent inset;
 border-width: 2px;
 border-style:solid;
 border-color:#e3f2ed;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 10px;
    min-height: 100px;
font-family:Arial, Helvetica, sans-serif;
 color:#5c5c5c;
 font-size:12px;
}
.footerArea .zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
color:#3c3c3c;
}
.footerArea .zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#3c3c3c;
}
.footerArea .zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#3c3c3c;
}
.footerArea .zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#3c3c3c;
}
.footerArea .zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#3c3c3c;
}
.footerArea .zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#3c3c3c;
}
.footerArea .zs-highlight-box a {
 text-decoration:underline;
 color:#348b6e;
}
.footerArea .zs-highlight-box a:hover {
text-decoration:none;
color:#348b6e;
}
.footerArea .zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#e8f5f1;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#348b6e;
 padding:7px;
}
.footerArea .zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#F3FAF8;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#5c5c5c;
 padding:6px;
}
/*=============================================================================
                       FOOTER AREA TEXT HIGHLIGHT CSS
=============================================================================*/
.footerArea .zs-text-light-color {
color:#A9A9A9;
}
.footerArea .zs-text-highlight-color {
color:#3C3C3C;
}
.footerArea .zs-highlight-box .zs-text-light-color {
color:#A9A9A9;
}
.footerArea .zs-highlight-box .zs-text-highlight-color {
color:#3C3C3C;
}
/*=============================================================================
                       FOOTER TABS ACCORDION AREA CSS
=============================================================================*/
.footerArea .zs-tabs ul, .footerArea .zs-highlight-box .zs-tabs ul {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: none;
    border-bottom: 0px;
}
.footerArea .zs-tabs ul li, .footerArea .zs-highlight-box .zs-tabs ul li {
    float: left;
    margin: 0;
    padding: 0px;
}
.footerArea .zs-tabs ul li div, .footerArea .zs-highlight-box .zs-tabs ul li div {
    padding: 0 20px;
    position: relative;
    color: #4a6c61;
    line-height: 2.8;
    cursor: pointer;
}
.footerArea .zs-tabs ul li.selected, .footerArea .zs-highlight-box .zs-tabs ul li.selected {
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-bottom: 0px;
}
.footerArea .zs-tabs ul li.selected div, .footerArea .zs-highlight-box .zs-tabs ul li.selected div {
    color: #4a6c61;
}
.footerArea .zs-tabs-accordion-content, .footerArea .zs-highlight-box .zs-tabs-accordion-content {
    background: #fffffff;
    padding: 15px;
    display: none;
    margin-bottom: 2px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.footerArea .zs-accordion, .footerArea .zs-highlight-box .zs-accordion {
    background: #d8ece5;
    color: #4a6c61;
    padding: 10px;
    cursor: pointer;
    display: block;
    position: relative;
    margin-bottom: 2px;
    border: 1px solid #b6e4d4;
}
.footerArea .zs-accordion.selected, .footerArea .zs-highlight-box .zs-accordion.selected {
    background: #ffffff;
    color: #4a6c61;
    border: 0px;
}
/*=============================================================================
               FOOTER HIGHLIGHT BOX TABS ACCORDION AREA CSS
=============================================================================*/
.footerArea .zs-highlight-box .zs-tabs-accordion-content h1 {
    color: #3c3c3c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content h2 {
    color: #3c3c3c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content h3 {
    color: #3c3c3c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content h4 {
    color: #3c3c3c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content h5 {
    color: #3c3c3c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #3c3c3c;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content a {
    color: #348B6E;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #348B6E;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #B9E0D2;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #e8f5f1;
    border: 1px solid #D1EDE3;
    color: #348b6e;
    padding: 7px;
}
.footerArea .zs-highlight-box .zs-tabs-accordion-content td {
    background: #F3FAF8;
    border: 1px solid #D1EDE3;
    color: #5c5c5c;
    padding: 6px;
}
/*=============================================================================
                              FORM AREA CSS
=============================================================================*/
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
form li {
    overflow: hidden;
    padding: 5px 0;
    margin: 0;
}
form ul li label, form ul li div {
    width: auto;
    float: none;
    padding: 5px 0;
}
form ul li label {
    width: 200px;
    text-align: left;
}
form li div span {
    clear: both;
    display: block;
}
form li span input, form li span label {
    float: none;
    width: auto;
    padding: 3px 5px 0;
    margin-top: 10px;
}
form li span input[type=text], form li span textarea, form li span select {
 font-family:Arial, Helvetica, sans-serif;
 color:#5c5c5c;
 font-size:12px;
    width: 200px;
    border: 1px solid #B3E1D1;
    float: left;
    padding: 5px;
    resize: none;
    background: #f3faf8;
    outline: none;
    margin: 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
form li span select {
    width: 207px;
}
form li span textarea {
    height: 80px;
    overflow: auto;
}
form .dateinvoker {
    background: url(images/datePickerIcn.png) 0 0 no-repeat;
    width: 22px;
    height: 20px;
    border: none;
    vertical-align: middle;
    margin-top: 5px;
    outline: none;
}
form li input[type=submit], form li input[type=reset], button {
 font-family:Arial, Helvetica, sans-serif;
    border: 1px solid #95D0BC;
    background: #B1E4D2;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 15px;
    margin-right: 5px;
    color: #2f594c;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
}
form li input[type=reset] {
    color: #5CA08B;
    background: #fff;
    border: 1px solid #8ED2BA;
}
/*=============================================================================
                        THEME TABS ACCORDION AREA CSS
=============================================================================*/
.zs-tabs ul, .zs-highlight-box .zs-tabs ul {
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: none;
    border-bottom: 3px solid #d8ece5;
}
.zs-tabs ul li, .zs-highlight-box .zs-tabs ul li {
    float: left;
    margin: 0;
    padding: 0px;
}
.zs-tabs ul li div, .zs-highlight-box .zs-tabs ul li div {
    padding: 0 20px;
    position: relative;
    color: #4a6c61;
    line-height: 2.8;
    cursor: pointer;
}
.zs-tabs ul li.selected, .zs-highlight-box .zs-tabs ul li.selected {
    background: #d8ece5;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.zs-tabs-accordion-content, .zs-highlight-box .zs-tabs-accordion-content {
    background: #ffffff;
    padding: 15px;
    display: none;
    color: #5c5c5c;
    margin-bottom: 2px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.zs-accordion, .zs-highlight-box .zs-accordion {
    background: #d8ece5;
    color: #4a6c61;
    padding: 10px;
    cursor: pointer;
    display: block;
    position: relative;
    margin-bottom: 2px;
    border: 1px solid #b6e4d4;
}
.zs-accordion.selected, .zs-highlight-box .zs-accordion.selected {
    background: #ffffff;
    color: #4a6c61;
    border: 0px;
}
/*=============================================================================
                 THEME HIGHLIGHT BOX TABS ACCORDION AREA CSS
=============================================================================*/
.zs-highlight-box .zs-tabs-accordion-content h1, .zs-highlight-box .zs-tabs-accordion-content h2, .zs-highlight-box .zs-tabs-accordion-content h3, .zs-highlight-box .zs-tabs-accordion-content h4, .zs-highlight-box .zs-tabs-accordion-content h5, .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #3c3c3c;
}
.zs-highlight-box .zs-tabs-accordion-content a, .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #348b6e;
}
.zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #B9E0D2;
}
.zs-highlight-box .zs-tabs-accordion-content th {
    background: #e8f5f1;
    border: 1px solid #D1EDE3;
    color: #348b6e;
    padding: 7px;
}
.zs-highlight-box .zs-tabs-accordion-content td {
    background: #F3FAF8;
    border: 1px solid #D1EDE3;
    color: #5c5c5c;
    padding: 6px;
}
/*=============================================================================
                         THEME HIGHLIGHT BOX CSS
=============================================================================*/
.zs-highlight-box {
 background-color: #d8ece5;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0px 0px 0 0px transparent, 0px 1px 0px 0 #f7fbfa inset;
 -moz-box-shadow: 0px 0px 0 0px transparent, 0px 1px 0px 0 #f7fbfa inset;
 -webkit-box-shadow: 0px 0px 0 0px transparent, 0px 1px 0px 0 #f7fbfa inset;
 -o-box-shadow: 0px 0px 0 0px transparent, 0px 1px 0px 0 #f7fbfa inset;
 border-width: 1px;
 border-style:solid;
 border-color:#c8e5dc;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 0;
    min-height: 100px;
font-family:Arial, Helvetica, sans-serif;
 color:#5c5c5c;
 font-size:12px;
}
.zs-highlight-box h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
color:#3c3c3c;
}
.zs-highlight-box h2 {
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#3c3c3c;
}
.zs-highlight-box h3 {
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#3c3c3c;
}
.zs-highlight-box h4 {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
color:#3c3c3c;
}
.zs-highlight-box h5 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#3c3c3c;
}
.zs-highlight-box h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#3c3c3c;
}
.zs-highlight-box a {
 text-decoration:underline;
 color:#348b6e;
}
.zs-highlight-box a:hover {
text-decoration:none;
color:#348b6e;
}
.zs-highlight-box th {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#e8f5f1;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#348b6e;
 padding:7px;
}
.zs-highlight-box td {
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 background:#F3FAF8;
 border-width:1px;
 border-style:solid;
 border-color:#D1EDE3;
 color:#5c5c5c;
 padding:6px;
}
/*=============================================================================
                         THEME TEXT HIGHLIGHT CSS
=============================================================================*/
.zs-text-light-color {
color:#A9A9A9;
}
.zs-text-highlight-color {
color:#3C3C3C;
}
.zs-highlight-box .zs-text-light-color {
color:#A9A9A9;
}
.zs-highlight-box .zs-text-highlight-color {
color:#3C3C3C;
}
/*=============================================================================
                     THEME START SOCIAL ICONS SPRITE CSS
=============================================================================*/
.themeSocialIconContainer {
    margin: 10px 0;
    text-align: center;
}
.zs-socialicon-email, .zs-socialicon-facebook, .zs-socialicon-flickr, .zs-socialicon-googleplus, .zs-socialicon-linkedin, .zs-socialicon-pinterest, .zs-socialicon-rss, .zs-socialicon-twitter, .zs-socialicon-youtube, .zs-socialicon-medium, .zs-socialicon-instagram {
    background: url('images/zs-socialicon-sprite.png') no-repeat top left;
    width: 20px;
    height: 20px;
    margin: 3px 3px 0;
    display: inline-block;
}
.zs-socialicon-email {
    background-position: 0 -0px;
}
.zs-socialicon-facebook {
    background-position: 0 -20px;
}
.zs-socialicon-flickr {
    background-position: 0 -40px;
}
.zs-socialicon-googleplus {
    background-position: 0 -60px;
}
.zs-socialicon-linkedin {
    background-position: 0 -80px;
}
.zs-socialicon-pinterest {
    background-position: 0 -100px;
}
.zs-socialicon-rss {
    background-position: 0 -120px;
}
.zs-socialicon-twitter {
    background-position: 0 -140px;
}
.zs-socialicon-youtube {
    background-position: 0 -160px;
}
.zs-socialicon-medium {
    background-position: 0 -180px;
}
.zs-socialicon-instagram {
    background-position: 0 -200px;
}
/*=============================================================================
                         THEME NEWSLETTER AREA CSS
=============================================================================*/
.newsletter-container {
background: transparent;
    padding: 10px
}
h3.newsletter-heading {
    margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
color: #3c3c3c;
}
.newsletter-desc {
    margin-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #5c5c5c;
}
.newsletter-input-field {
background: #ffffff;
border-width: 1px;
border-color: #cbcbcb;
color:#5c5c5c;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align:top;
}
button.newsletter-button {
background: #b1e4d2;
border-width: 1px;
border-color: #95d0bc;
color:#2f594c;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-style: solid;
    cursor: pointer;
    padding: 10px;
    font-weight: 400;
    box-sizing: border-box;
    margin-right: 0;
}
.newsletter-layout-1 .newsletter-form, .newsletter-layout-2 .newsletter-form {
    margin: 0 auto;
    text-align: center;
}
.newsletter-layout-3 .newsletter-form {
    width: 200px;
    margin: 0 auto;
    text-align: right;
}
.newsletter-layout-3 button {
    text-align: right;
}
.newsletter-layout-2 button.newsletter-button {
    display:block;
    margin:0 auto;
}
.newsletter-form input[type="text"]::-moz-placeholder {
    color:#A1A1A1;
  font-size:90%;
  line-height:normal;
}
.newsletter-form  input[type="text"]::-webkit-input-placeholder {
    color:#A1A1A1;
  font-size:85%;
  line-height:normal;
}
.newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#A1A1A1;
  font-size:90%;
  line-height:normal;
}
/*=============================================================================
                   THEME MEMBERSHIP PORTAL AREA CSS 
=============================================================================*/
.mp-container {
    height: 34px;
    background:#deefe9;
    border-bottom:1px solid #c0e8dd;
}
.member-signin {
    padding:0 20px;
}
.member-signin > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:right;
}
.member-signin li {
    display: inline-block;
    line-height: 34px;
    margin-left: 20px;
    padding: 0;
    position:relative;
}
.member-signin li:first-child {
    width:75%;
}
.member-signin li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#348b6e;
    display:block;
    text-align:right;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.member-signin li a:hover {
    text-decoration:none;
    color:#348b6e;
}
.member-signin li:first-child {
    margin-right: 0;
}
.member-signin li:last-child:before {
    color:#348b6e;
    content: "|";
    position: absolute;
    top: 0;
    right:-10px;
}
 